.accordion {
    @apply border-2;
    @apply border-blue-950;
    @apply text-blue-950;
    @apply rounded-xl;
}

.accordion__item + .accordion__item {
    @apply border-t;
    @apply border-blue-950;
}

.accordion__button {
    @apply cursor-pointer;
    @apply p-5;
    @apply w-full;
    @apply text-left;
}

.accordion__button:hover {
    @apply text-blue-500;
}

.accordion__button:before {
    @apply inline-block;
    @apply content-[''];
    @apply h-2.5;
    @apply w-2.5;
    @apply mr-3;
    @apply border-b-2;
    @apply border-r-2;
    @apply border-current;
    @apply -rotate-45;
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    @apply rotate-45;
}

[hidden] {
    @apply hidden;
}

.accordion__panel {
    @apply p-6;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
