.accordion {
    @apply text-darker;
    @apply rounded-xl;
}

.accordion__item + .accordion__item {
    @apply border-t;
    @apply border-darker;
}

.accordion__button {
    @apply cursor-pointer;
    @apply px-14;
    @apply py-8;
    @apply w-full;
    @apply text-left;
    @apply text-xl;
    @apply font-bold;
}

.accordion__button:hover {
    @apply text-link-hover;
}

.accordion__button:before {
    @apply inline-block;
    @apply content-[''];
    @apply h-2.5;
    @apply w-2.5;
    @apply mr-3;
    @apply border-b-2;
    @apply border-r-2;
    @apply border-current;
    @apply -rotate-45;
    @apply transition-transform;
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    @apply rotate-45;
}

[hidden] {
    @apply hidden;
}

.accordion__panel {
    animation: fadein 0.35s ease-in;
    @apply mb-8;
}

.accordion__panel p{
    @apply px-14;
    @apply pb-4;
    @apply indent-8;
    @apply text-justify;
}

.accordion__panel ul{
    @apply indent-0;
    @apply pl-20;
    @apply pb-10;
    @apply list-disc;
}

.accordion__panel ul li{
    @apply indent-0;
    @apply list-disc;
}

.accordion__panel ul li p{
    @apply indent-0;
    @apply p-0;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
