.theme-font {
    @apply font-serif;
}

.theme-font h1 {
    @apply font-display;
}

.theme-font h2 {
    @apply font-display;
}

.theme-font h3 {
    @apply font-display;
}

.theme-font h4 {
    @apply font-display;
}

.font-serif-override {
    @apply font-serif !important;
}

.font-display-override{
    @apply font-display !important;
}

.hero-background {
    background-image: url('src/assets/images/hero-bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
}


.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Dark transparent overlay */
}

.blog-content h2 {
    @apply font-serif;
    @apply text-3xl;
    @apply font-bold;
    @apply text-dark-green;
    @apply py-4;
}

.blog-content h3 {
    @apply font-serif;
    @apply text-2xl;
    @apply font-bold;
    @apply text-dark-green;
    @apply py-4;
}

.blog-content p {
    @apply indent-8;
    @apply pb-8;
    @apply text-lg;
}

.blog-content ul {
    @apply pb-4;
    @apply list-disc;
}

.blog-content a {
    @apply underline;
    @apply text-link-hover;
}
