.theme-font {
    @apply font-serif;
}

.theme-font h1 {
    @apply font-display;
}

.theme-font h2 {
    @apply font-display;
}

.theme-font h3 {
    @apply font-display;
}

.theme-font h4 {
    @apply font-display;
}

.font-serif-override {
    @apply font-serif !important;
}

.font-display-override{
    @apply font-display !important;
}

.hero-background {
    background-image: url('../hero-bg.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}


.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Dark transparent overlay */
}

.blog-content {
    @apply text-lg;
}

.blog-content h1 {
    @apply font-serif;
    @apply text-3xl;
    @apply font-bold;
    @apply text-dark-green;
    @apply pt-4;
    @apply pb-4;
}

.blog-content h2 {
    @apply font-serif;
    @apply text-2xl;
    @apply font-bold;
    @apply text-dark-green;
    @apply pt-4;
}

.blog-content h3 {
    @apply font-serif;
    @apply text-xl;
    @apply font-bold;
    @apply text-dark-green;
}

.blog-content strong {
    @apply font-serif;
    @apply font-bold;
}

.blog-content p {
    @apply text-justify;
    @apply pb-4;
}

.blog-content ul {
    @apply list-disc;
    @apply pb-4;
    @apply pl-4;
    @apply text-justify;
}

.blog-content ol {
    @apply pb-4;
    @apply pl-4;
    @apply list-decimal;
    @apply text-justify;
}

.blog-content li {
    @apply pt-1;
}

.blog-content a {
    @apply underline;
    @apply text-link-hover;
}

.faq-answer a {
    @apply underline;
    @apply text-link-hover;
}

.link {
    @apply underline;
    @apply text-link-hover;
}
